* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wallet {
  /*지갑 이면서 배경*/

  width: 2000px;
  height: 1200px;
  background-image: url();
  background-position: center;
  background-size: cover;
  background-position: fixed;
}

.D_div {
  /*지폐의 배경*/
  position: absolute;
  width: 1000px;
  height: 200px;
  left: 300px;
}

.doller {
  /*지폐*/
  position: absolute;
  width: 1000px;
  height: 150px;
  background-size: 100%;
  background-size: cover;
  top: 75px;
}

.B0_div {
  /*명함 0의 배경*/
  position: absolute;
  width: 300px;
  height: 150px;
  left: 100px;
  top: 350px;
}

.Bc0 {
  /*명함 0*/
  position: absolute;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-size: cover;
  top: 50px;
}

.B1_div {
  /*명함1의 배경*/
  position: absolute;
  width: 300px;
  height: 150px;
  /*  background-color: aqua;*/
  left: 100px;
  top: 650px;
}

.Bc1 {
  /*명함 1*/
  position: absolute;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-size: cover;
  top: 50px;
}

.B2_div {
  /*명함 2의 배경*/
  position: absolute;
  width: 300px;
  height: 150px;
  /* background-color: aqua;*/
  left: 100px;
  top: 950px;
}

.Bc2 {
  /*명함 2*/
  position: absolute;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-size: cover;
  top: 50px;
}

.B3_div {
  /*명함 3의 배경*/
  position: absolute;
  width: 300px;
  height: 150px;
  left: 1500px;
  top: 350px;
  /*  background-color: aqua;*/
}

.Bc3 {
  /*명함 3*/
  position: absolute;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-size: cover;
  top: 50px;
}

.B4_div {
  /*명함 4의 배경*/
  position: absolute;
  width: 300px;
  height: 150px;
  left: 1500px;
  top: 650px;
  /*  background-color: aqua;*/
}

.Bc4 {
  position: absolute;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-size: cover;
  top: 50px;
}

.B5_div {
  position: absolute;
  width: 300px;
  height: 150px;
  left: 1500px;
  top: 950px;
  /* background-color: aqua;*/
}

.Bc5 {
  position: absolute;
  width: 300px;
  height: 100px;
  background-size: 100%;
  background-size: cover;
  top: 50px;
}

/* directionalcss*/
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Gamja+Flower&display=swap");

* {
  font-family: "Diphylleia", serif;
  font-family: "Gamja Flower", cursive;
}

#layer_directional {
  display: none;
}

#layer_directional + label {
  display: inline-block;
  width: 100px;
  height: 30px;
  background: green;
}

#layer_background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

#directional {
  position: absolute;
  box-sizing: border-box;
  width: 1212px;
  height: 536px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

#close_button {
  position: absolute;
  width: 45px;
  height: 20px;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(561px, -288px);
  color: white;
  text-align: center;
}

#layer_directional:checked + label + #layer_background {
  display: block;
}

#directional_data {
  position: absolute;
  top: 212px;
  transform: translate(0, -50%);
}

#directional_head {
  width: 1212px;
  height: 50px;
  background-color: gray;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}
